@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300&family=Staatliches&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Atak Trial';
    box-sizing: border-box;
}




a {
    text-decoration: none;
    color: black;
}
img {
    vertical-align: top;
    width: 100%;
}

/* Navbar CSS Starts */

main {
    background-image: linear-gradient(to right, #ED213A, #93291E);
    top: 0;
    z-index: 1;
    /* background: white; */
    padding: 0px 100px;
    position: sticky;
    /* overflow: hidden; */
    border-bottom: 3px solid rgb(255, 255, 255);
}
main::after, main::before {
    content: '';
    clear: both;
    display: block;
}
main .logo {
    display: inline;
    font-family: 'Just Lovely';
    font-size: 59px;
    line-height: 55px;
    font-weight: 600;
    color: white;
    /* float: left; */
}
.menubar {
    float: right;
}

.menubar .menu {
    line-height: 55px;
    margin-bottom: 0;
}
.menubar .menu li {
    display: inline-block;
    padding-left: 40px;
    margin-bottom: 0;
}
.menubar .menu li a{
    text-decoration: none;
    font-size: 19px;
    color: white;
}

.fa {
    font-size: 19px;
    color: white;
}
.fa:hover {
    cursor: pointer;
}
.menubar .menu .sub_menu li {
    border-bottom: 1px solid grey;
    display: block;
    padding: 6px;
}
.menubar .menu .sub_menu {
    padding: 10px 0px 0px 0px;
    background-color: rgb(255, 255, 255);
 
    
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    display: none;
    z-index: 1;
    position: absolute;
}


/* Navbar CSS Ends */

/* Section -1 Starts */
.home {
    background-image: linear-gradient(to right, #ED213A, #93291E);
    padding: 10px 100px;
    overflow: hidden;
}
.title {
    padding: 30px 0px 0px 0;
    font-size: 156px;
    font-weight: 700;
    color: white;
    font-family: 'Staatliches', 'Franklin Gothic Medium', cursive;
    text-shadow: 3px 3px rgb(39, 36, 36);
}
.home1pic {
    width: 90%;
    padding-top: 104px;
    margin: 0 auto;    
    padding-bottom:59px;
}
.title2 {
    font-size: 70px;
    color: white;
    font-family: 'Staatliches', 'Franklin Gothic Medium', cursive;
    font-weight: 600;
    text-shadow: 2px 2px rgb(39, 36, 36);
}


/* Section - 1 Ends */


/* Section - 2 Starts */


.skills {

    padding: 30px 100px 150px 100px;
    overflow: hidden;
}
.skills_title {
    font-family: 'Staatliches', cursive;

    position: relative;
    font-size: 80px;
    text-align: center;
    text-shadow: 2px 2px grey;
}
.skills_title:after {
    content: '';
    width: 100px;
    height: 7px;
    position: absolute;
    background-color: black;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.home div .fa-code {
    font-size: 156px;
}
.skillpic {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}
.skillpic img {
    width: 31%;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 32px;
}
.skillpic img:hover {
    cursor: pointer;
    /* box-shadow: 6px 5px rgb(158, 158, 158); */
   transform: scale(1.2);
}

/* Portfolio Starts */

.portfolio {
    background: linear-gradient(to right, #ED213A, #93291E);

    padding: 30px 100px 150px 100px;
    overflow: hidden;
}
.portfolio_title {
    position: relative;
    font-family: 'Staatliches', cursive;
    color: white;

    font-size: 80px;
    text-align: center;
    text-shadow: 3px 3px rgb(39, 36, 36);

}
.portfolio_title::after{

    content: '';
    width: 100px;
    height: 7px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.portfolio_pic {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.portfolio_pic img {
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 3px solid white;
    border-radius: 28px;
    width: 33%;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s ease;
    backface-visibility: hidden;
    
}



.text {

    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}


/* Portfolio Ends */


/* Contact Us Starts */
.contact {
    background: linear-gradient(to right, #ED213A, #93291E);

    padding: 30px 100px 150px 100px;
    overflow: hidden;
}
.contact_title {
    color: white;
    position: relative;
    font-family: 'Staatliches', cursive;

    font-size: 80px;
    text-align: center;
    text-shadow: 2px 2px grey;

}
.contact_title::after{

    content: '';
    width: 100px;
    height: 7px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.form_styles {
    max-width: 500px;
    margin: 0 auto;
}
.form_styles label {
    display: block;
    color: white;
    font-weight: 600;
    font-family: 'Readex Pro', sans-serif;
    line-height: 2;
    font-size: 18px;
}
.form_styles input, .form_styles textarea {
    width: 100%;
    line-height: 2;
    padding: 5px 10px;
    font-size: 16px;
    box-shadow:inset 0 0 3px 3px rgb(212, 212, 212, .4);
    border: 1px solid #ddd;
    border-radius: 14px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline: none;

}

.form_styles input[type="submit"] {
    background: linear-gradient(to right, #ED213A, #93291E);
    color: white ;
    font-size: 18px;
    cursor: pointer;
    width: auto;
    min-width: 159px;
    box-shadow:inset 0 0 3px 3px rgb(212, 212, 212, 0);
}
.form_styles input[type="reset"]{
    width: auto;
    min-width: 159px;
    box-shadow:inset 0 0 3px 3px rgb(212, 212, 212, 0);

    background-color: black;
    color: white ;
    font-size: 18px;
    cursor: pointer;
}
.form_styles input[type="submit"]:hover {
    background: linear-gradient(to right, #b11b2c, #991a0c);
}

.form_styles input[type="reset"]:hover {
    background: rgb(48, 48, 48);
}

/* .form_styles input[type="submit"]{
    background: linear-gradient(to right, #ED213A, #93291E);
    color: white;
} */
/* Contact Us Ends */

/* Footer Starts */
footer {
    background: linear-gradient(to left, #ED213A, #93291E);
    color: white;
    text-align: center;
    
    padding: 10px;
}
footer a {
    color: white;
}
footer a:focus,
footer a:active,
footer a:hover {
    color: rgb(201, 201, 201);
}
/* Footer Ends */

/* About Us Starts */

.about {
    padding: 30px 100px 150px 100px;
    overflow: hidden;
}
.about_title {
    text-shadow: 2px 2px grey;
    
    position: relative;
    font-family: 'Staatliches', cursive;
    color: rgb(0, 0, 0);
    
    font-size: 80px;
    text-align: center;
    
}
.about_title::after {
    content: '';
    width: 100px;
    height: 7px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}
.about_content {
    display: flex;
    

}
.about_description {
    color: white;
    line-height: 1.6;
    height: auto;
    border-radius: 12px;
    font-size: 22px;
    margin-left: 25px;
    margin-top: 35px;
    padding-left: 10px;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 0px;
    background: linear-gradient(to right, #ED213A, #93291E);
}
.about_image {
    padding-top: 50px;
    width: 25%;
    justify-content: space-between;
}
.about_image img {
    border: 10px solid #93291E;
    border-radius: 50%;
}





/* About Us Ends */

.up_to_top {
    border: 2px solid rgb(184, 184, 184);
    background-color: rgb(141, 16, 16);
    /* display: block; */
    padding-top: 5px;
    width: 40px;
    height: 40px;
    bottom: 50px;
    right: 10px;
    line-height: 0.6;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    position: fixed;
}
.fa-angle-up {
    font-size: 25px;
}
a.mobile_menu {
    line-height: 1;
    display: none; 
}



@media screen and (max-width: 1024px) {
    .home, .contact, .portfolio, .skills, .about{
        padding: 30px 20px;
    }
    #symbol {
        font-size: 100px;
    }
    main {
        padding: 0px 20px;
    }
    .title {
        font-size: 100px;
        line-height: 0.8;
    }
    .home {
        padding: 10px 20px;
    }
    .title2 {
        padding: 20px 0px;
        font-size: 40px;
    }
    .home1pic {
        display: flex;
    }
    .home1pic img {
        justify-content: center;
        width: 1000px;
        }
.about_description {
    font-size: 17px;
    }
   
}
@media screen and (max-width: 768px) {

    .menubar .menu li {
        display: inline-block;
        padding-left: 14px;
    }
    #symbol {
        font-size: 80px;
    }

    .menubar .menu li a {
        font-size: 16px;
    }
    .title {
        font-size: 89px;
        line-height: 90%;
        padding-top: 50px;
    }
    .title2 {
        padding: 0px;
    }
    .home1pic img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .home1pic {
        width: 100%;
        padding-top: 26px;
    }    
    .skillpic img {
        width: 44%;
    }
    .about_image {
        padding-top: 48px;
        width: 60%;
    }
    .about_image img {
        border: 10px solid #93291E;
        border-radius: 50%;
    }
    .about_description {
        color: white;
        line-height: 1.5;
        height: 100%;
        border-radius: 12px;
        font-size: 17px;
        width: 144%;
        padding-top: 5px;
        margin-left: 14px;
    }
    .portfolio_pic img {
        width: 49%;
        /* justify-content: space-between; */
    }
}

@media screen and (max-width: 425px) {
    .logo, .portfolio_pic img {
        float: none;
        width: 100%;
    }
    .skillpic {
        display: flex;
        flex-direction: column;
        /* align-items: center; */ 
        
    }
    .skillpic img {
        width: 100%;
        margin: 20px 0;
        border: 1px solid rgb(207, 207, 207);
    }
    
    .about_content {
        display: flex;
        flex-wrap: wrap;
    }
    .about_image {
        width: 90%;
        margin: 0 auto;
    }
    main .logo {
        line-height: 1;
        display: block;
       
    }
    .menubar .menu li {
        display: block;
    }
    .menubar {
        float: left;
    }
    
    .menubar ul {
        padding: 0;
        display: none;

    }

    a.mobile_menu {
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 15px;

    
    }
    a.mobile_menu i {
        font-size: 31px;
    }

    a.mobile_menu:hover + .menu,
    a.mobile_menu:focus + .menu {
        display: block;
    }
    .title {
        padding-top: 10px;
        font-size: 90px;
    }



    
   
  

}